
    body {
        font-family: sans-serif;
        text-align: center;
    }
    #textbox {
        border-radius: 20px;
        border-color: black;
        font-size: 35px;
        text-align: right;
        padding-right: 5px;
        margin-top: 5px;
        width: 100%; max-width: 500px;
    }
    #btn {
        border: none;
        border-radius: 20px;
        padding: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%; max-width: 500px;
        background-color: lightgray;
        font-size: 15px;
    }
    .linktext {
        border-radius: 20px;
        border: 1px solid;
        font-size: 25px;
        text-decoration: none;
        color: black;
        padding: 10px;
        line-height: 57px;
    }
    #active {
        background-color: thistle;
    }
    .ad-0102 {
        width: 320px;
        margin-right:auto; margin-left:auto;
    }
    .ad-0304 {
        width: 320px;
        margin-right:auto; margin-left:auto;
    }
    .ad-0506 {
        width: 300px;
        margin-right:auto; margin-left:auto;
    }
    .ad-0708 {
        width: 250px;
        margin-right:auto; margin-left:auto;
    }
    .ad-0910 {
        width: 160px;
        margin-right:auto; margin-left:auto;
    }
    caption {
        font-weight: bold;
        padding : 5px;
    }
    .table {
        border: 1px solid black;
        margin-right:auto; margin-left:auto;
        font-size: 20px;
        width: 100%; max-width: 500px;
        margin-bottom: 10px;
        background-color: white;
    }
    thead {
        background-color:rgb(200, 255, 255)
    }
    .table th {
        border: 1px solid black;
    }
    .table td {
        border: 1px solid black;
        text-align: right;
    }
    .text-bottom {
        margin-top: 15px;
    }
@media(max-width:800px) {
    body {
        background-color: floralwhite;
    }
    #textbox {
        margin-top: 5px;
        width: 90%;
    }
    #btn {
        margin-bottom: 5px;
        width: 90%;
    }
    .linktext {
       background-color: white;
    }
    .table {
        font-size: 15px;
        width: 90%;
    }
}